<html>
    <head>
        <style>
            th{
                border: black solid 1px;
            }
            td{
                border: black solid 1px;
            }
        </style>
    </head>
    <body>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        <h2>Add a new course</h2>
        <form action="/create", method="POST">
            {% csrf_token %}
            Course Name: <input type="text" name="course_name" style="margin-left:30px", value={{request.session.course_name}}>
            <br>
            Decription: <input type="text" name="desc" value={{request.session.desc}}>
            <button style="margin-top: 20px; display:block;">Add</button>
        </form>

        <h2>Courses</h2>
        <table>
            <tr>
                <th>
                    Course Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Date Added
                </th>
                <th>
                    Actions
                </th>
            </tr>
            {% for x in stuff %}
                <tr>
                    <td>
                        {{x.course_name}}
                    </td>
                    <td>
                        {{x.desc}}
                    </td>
                    <td>
                        {{x.updated_at}}
                    </td>
                    <td>
                        <a href="/delete/{{x.id}}">remove</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>